<div id="topbar">
  <script type="text/javascript">
      $(document).ready(function(){
          $("#topbar-menu li.noempty a").click(function(e){
              if ($(this).closest("li").is(".hover")) {
                  $(this).closest("li").removeClass("hover").find("ul").slideUp();
              } else {
                  $("body").click();
                  $(this).closest("li").addClass("hover").find("ul").slideDown();
              }
              e.stopPropagation();
              return true;
          });
          $("body").click(function(){
              $("#topbar-menu li.noempty").removeClass("hover").find("ul").slideUp();
          });
      });
  </script>
  <ul id="topbar-menu">
    <li class="noempty"><a href="javascript:void(0);" style="background-image: url(/crm/img/add1.png)"><ins></ins><span>Добавить</span></a>
      <ul class="add-links">
        <li><a href="<%= new_crm_domain_path %>" <%== controller_name == 'domains' ? "class='current'" : "" %> id="add-new-domain">Домен</a></li>
        <li><a href="<%= new_crm_access_path %>" <%== controller_name == 'accesses' ? "class='current'" : "" %> id="add-new-access">Доступы</a></li>
        <li><a href="<%= new_crm_user_path %>" <%== controller_name == 'users' ? "class='current'" : "" %> id="add-new-access">Пользователя</a></li>
      </ul>
    </li>
    <li><a class="<%= controller_name == 'domains' ? 'current' : '' %>" href="<%= crm_domains_path %>" style="background-image: url(/crm/img/list.png)">Домены</a></li>
    <li><a class="<%= controller_name == 'accesses' ? 'current' : '' %>" href="<%= crm_accesses_path %>" style="background-image: url(/crm/img/list.png)">Доступы</a></li>
    <li><a class="<%= controller_name == 'users' ? 'current' : '' %>" href="<%= crm_users_path %>" style="background-image: url(/crm/img/list.png)">Пользователи</a></li>


  </ul>
  <div id="auth-logged">
    Здравствуйте, <a href="<%= edit_crm_user_path(current_user) %>" id="auth-logged-username"><%= current_user.nickname %></a>

  </div>
</div>
