<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="robots" content="index, follow">

  <%= stylesheet_link_tag "crm", media: "all" %>

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "crm" %>

  <%# javascript_include_tag "/crm/js/jsCal/js/jscal2", "/crm/js/jsCal/js/lang/ru" %>

  <%= csrf_meta_tags %>
</head>
<% if action_name == 'new' or action_name == 'edit' or action_name == 'create' %>
    <body>
<% else %>
    <body class="nobg">
<% end %>

<div class="float" id="popup-wrapper" style="display:none;" ></div>
<div id="blackbox" style="display:none;"></div>

<div id="top">
  <div id="body">
    <%= render 'crm/top' %>

    <div id="container">
      <% if(action_name == 'index') %>
        <%= render 'Crm/pagination' %>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
